#Database
POSTGRES_DB=honeypot
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeMe
GRAFANA_USER=reader
GRAFANA_PASSWORD=changeMe
#Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=changeMe